<p>
  <img [src]="user.avatar_url" [alt]="user.login" *ngIf="user!== null">
</p>
<p *ngIf="user!== null">Olá <b>{{user.login}}</b>. Tudo bem? Bem vindo, fique à vontade.</p>
<p>Se quiser sair, <a routerLink="/admin/logout"><b>clique aqui</b></a>.</p>
<p>Seus repositórios públicos e privados. Ou se deseja <a routerLink="/admin/home"><b>buscar repositórios públicos</b></a>.</p>
<div class="row">
  <p>Resultados:</p>
  <div class="col-12" *ngIf="results === null">
    Carregando... =)
  </div>
  <div class="col-12" *ngIf="results !== null">
    <table class="table table-light">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Proprietário</th>
        <th scope="col">Linguagem</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let result of results">
        <th scope="row">{{result.id}}</th>
        <td>
          <a [href]="result.html_url" target="_blank">{{result.name}}</a>
        </td>
        <td>
          <a [href]="result.owner.html_url" target="_blank">{{result.owner.login}}</a>
        </td>
        <td>{{result.language}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
