<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Mooven</h3>
      <nav class="nav nav-masthead justify-content-center">
        This is an awesome test
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <router-outlet></router-outlet>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Template por <a href="https://twitter.com/mdo">@mdo</a>. Sistema por Ilson Nóbrega.</p>
    </div>
  </footer>
</div>
